<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Biblioteca</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/livros">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autores">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assuntos">Assuntos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vendas">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formas-compra">Formas de Compra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formas-pagamento">Formas de Pagamento</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
