<div class="container mt-4">
    <h2>Formas de Compra</h2>
    <button class="btn btn-primary mb-3" (click)="selectedItem = { codFC: 0, descricao: '' }; isEdit = false">Adicionar Forma de Compra</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
          <th class="actions-header">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let forma of items">
          <td>{{ forma.codFC }}</td>
          <td>{{ forma.descricao }}</td>
          <td class="actions-column">
            <button class="btn btn-sm btn-warning" (click)="editItem(forma.codFC)">Editar</button>
            <button class="btn btn-sm btn-danger ms-2" (click)="deleteItem(forma.codFC)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="selectedItem" class="mt-4">
      <h3>{{ isEdit ? 'Editar Forma de Compra' : 'Adicionar Forma de Compra' }}</h3>
      <form (ngSubmit)="saveItem(selectedItem!)">
        <div class="mb-3">
          <label class="form-label">Descrição</label>
          <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="selectedItem.descricao" 
          name="descricao" 
          maxlength="30"
          [ngClass]="{'is-invalid': validationErrors.includes('descricao')}"
          required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary ms-2" (click)="resetForm()">Cancelar</button>
      </form>
    </div>
</div>